{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'tag-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}

{% assign productTags = product.tags %}
{% if productTags.size > 0 %}
  <ul>
    {% for tag in productTags %}
      <li>
        <a href="/collections/all/{{ tag | handle }}" target="_blank">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
